<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dafejuka Home</title>
    <link rel="stylesheet" href="styles/estilos.css">
</head>
<body>
    <h1>Home Dafejuka productos</h1>
    <br>
    <h2>%= mensaje %</h2>
    <br>
    <a href="/clientes/login"><h2>Login</h2></a>
    <br>
    <a href="clientes/crearCuenta"><h2>Crear cuenta</h2></a>
</body>
</html>