<!-- <!DOCTYPE html>
<html>
<head>
  <title>Dafejuka Envio</title>
  <script src="../ext/api.maps.js"></script>
  <link rel="stylesheet" href="../public/styles/estilos.css">
</head>
<body>
  <h2>El pedido fue enviado</h2>
  <div id="map"></div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-1LhvwVWR1VZjib6RSCc3tcA0FdSveSc&callback=initMap"></script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dafejuka Envio</title>
    <!-- <script src="../ext/api.maps.js"></script> -->
    <script src="/api.maps.js"></script>
    <link rel="stylesheet" href="/styles/estilos.css" />
  </head>
  <body>
    <h2>El pedido fue enviado</h2>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-1LhvwVWR1VZjib6RSCc3tcA0FdSveSc&callback=initMap"></script>
    <br />
    <a href="/"><h2>Home</h2></a>
  </body>
</html>
